<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<h1>여기에서 todo 수정해주세요</h1>
<form action="/todo/update/{{ todo.id }}/" method="POST">
    {% csrf_token %}
    <input type="text" name="title" id="title" value="{{ todo.title }}">
    <input type="text" name="content" id="content" value="{{ todo.content }}">
    {% if todo.is_done == True%}
        <input type="radio" name="is_done" id="is_done" value="True" checked="checked">
        <label>완료</label>
        <input type="radio" name="is_done" id="is_done" value="False">
        <label>미완료</label>
    {% else %}
        <input type="radio" name="is_done" id="is_done" value="True">
        <label>완료</label>
        <input type="radio" name="is_done" id="is_done" value="False" checked="checked">
        <label>미완료</label>
    {% endif %}
    <button type="submit">수정하기</button>
</form>
</body>
</html>